{% extends 'index.html' %}

{% block navbar %}
    <nav id="navbar" class="navbar nav-menu">
    <ul>
        <li><a href="{{url_for('index')}}" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="{{url_for('about')}}" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="{{url_for('register')}}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Register</span></a></li>
        <li><a href="{{url_for('login')}}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>LogIn</span></a></li>
    </ul>
    </nav>
{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="/static/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <p>
            I have developed a robust plant leaf classification system capable of identifying 51 different plant species. The core of this system is a hybrid deep learning architecture, combining the strengths of MobileNet and custom convolutional neural networks (CNNs). MobileNet serves as the feature extractor, providing an efficient and compact representation of leaf images. Subsequent CNN layers are employed to refine these features and optimize classification accuracy. This design choice addresses the challenge of classifying a large number of plant species while maintaining a practical model size and fast inference speed. The model has been trained on a comprehensive dataset of plant leaf images, demonstrating its ability to accurately distinguish between closely related species.
          </p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}